section.form-section
    .container
        +section_title('Get Your Free Facebook Analysis Now', 'Enter your details below', '')

        .btn-down: a.arrow-down: i.fa.fa-angle-down


        .form-container.is-hidden
            form(method="post" action="#").form
                button(type="button").form__close-button x

                .form__text.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Dolore non nihil, officia eaque est eos error cum quam explicabo similique 
                    pariatur neque cumque ducimus libero, quos facilis excepturi. Blanditiis, laboriosam!

                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")

                button(type="submit").button.button--text-uppercase.button--red Submit now